@font-face
  font-family: "SF UI";
  font-weight: 500;
  src: url("/fonts/SF-UI-Display-Medium.otf") format("opentype");
@font-face
  font-family: "SF UI";
  font-weight: 700;
  src: url("/fonts/SF-UI-Display-Bold.otf") format("opentype");
@font-face
  font-family: "SF UI";
  font-weight: 900;
  src: url("/fonts/SF-UI-Display-Heavy.otf") format("opentype");
