$faded: #c8cdd1
$fg: #474e54
html, body
  min-height: 100%
  height: 100%
body, input
  font-family: "SF UI"
  color: $fg
.backdrop
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  background-image: url("/images/clouds.jpg")
  background-size: cover
  z-index: 1
  animation: zoomin 10s infinite linear 2s
  opacity: 0
  &.second
    transform: scaleX(-1)
    animation: zoomin-inverted 10s infinite linear 7s

.maincontent
  position: relative
  z-index: 10
  padding-top: 70px
  height: 100%
  @media (min-width: 767px)
    padding-top: 100px
  @media (max-width: 767px)
    margin-bottom: 80px
.logotype-container
  margin-top: -4px
  transition: margin-bottom 0.5s ease-in-out
  @media (max-width: 991px)
    text-align: center !important
    margin-bottom: 56px
  @media (max-width: 767px) and (max-height: 350px)
    margin-bottom: 12px
.logotype
  display: inline-block
  vertical-align: bottom
  padding-left: 16px
  overflow: hidden
  animation: slidein 2s 1 cubic-bezier(.77,0,.18,1)
  text-align: left
  .maintext
    font-weight: 900
    text-transform: uppercase
    font-size: 28px
    line-height: 34px
    white-space: nowrap
  .secondarytext
    font-size: 11px
    white-space: nowrap
.fadein
  animation: fadein 1s 1 ease-in-out

@keyframes slidein
  from
    max-width: 0px
  to
    max-width: 150px
@keyframes fadein
  from
    opacity: 0
  to
    opacity: 1.0
@keyframes zoomin
  0%
    transform: scaleX(1) scaleY(1)
    opacity: 0.0
  30%
    opacity: 1.0
  70%
    opacity: 1.0
  100%
    transform: scaleX(2) scaleY(2)
    opacity: 0.0
@keyframes zoomin-inverted
  0%
    transform: scaleX(-1) scaleY(1)
    opacity: 0.0
  30%
    opacity: 1.0
  70%
    opacity: 1.0
  100%
    transform: scaleX(-2) scaleY(2)
    opacity: 0.0

// Navbar

nav
  background-color: white
  @media (min-width: 767px)
    padding-top: 18px
  &::after
    display: block
    content: " "
    width: 100%
    height: 30px
    position: absolute
    bottom: -30px
    background-image: linear-gradient(to top, rgba(255,255,255,0) 0%, white 100%)
    pointer-events: none
  .help
    background-image: url("/images/icon-help.svg")
    width: 18px
    height: 18px
    background-repeat: no-repeat
    background-position: center center
    display: inline-block
    padding: 24px 36px
  .smalllogo
    padding: 14px 0px
    display: inline-block
    text-align: center
    @media (max-width: 767px)
      width: 48%
.baractions
  .separator
    margin-top: 12px
  .lightbutton
    background-color: transparent
    border: 0px none
    padding: 14px
    display: inline-block
    color: $fg
    vertical-align: top
    cursor: pointer
    @media (max-width: 767px)
      width: 48%
  .add-message
    @media (max-width: 767px)
      width: 48%
  @media (max-width: 767px)
    position: fixed
    bottom: 0px
    padding-bottom: 8px
    background-color: white
    left: 0px
    width: 100%
    text-align: center
    &::before
      display: block
      content: " "
      width: 100%
      height: 30px
      position: absolute
      top: -30px
      background-image: linear-gradient(to bottom, rgba(255,255,255,0) 0%, white 100%)
      pointer-events: none
  @media (max-width: 767px) and (max-height: 300px)
    display: none

.add-message, .add-subscriber
  background-image: url("/images/icon-add.svg")
  width: 18px
  height: 18px
  background-repeat: no-repeat
  background-position: center center
  display: inline-block
  padding: 24px 19px
  cursor: pointer
.add-subscriber
  padding: 19px 19px

.separator
  display: inline-block
  width: 1px
  height: 26px
  background-color: $faded
  vertical-align: top

// Searchbar

.display-table
  display: table
  height: 100%
  width: 100%
  padding-bottom: 70px
  @media (min-width: 992px)
    padding-bottom: 100px
  .table-cell
    display: table-cell
    vertical-align: middle
.searchbar .dice
  position: absolute
  padding: 20px
  background-image: url("/images/icon-dice.svg")
  background-position: center
  background-repeat: no-repeat
  right: 2px

// Sidebar

.sidebar
  line-height: 1.6
  & > a
    color: $faded
    font-weight: 500
    text-transform: uppercase
    font-size: 19px
    padding-right: 14px
    vertical-align: top
    display: inline-block
    @media (max-width: 991px)
      &:not(:first-child)
        padding-left: 20px
    @media (min-width: 992px)
      &:not(:first-child)
        padding-right: 30px
    &.active
      color: $fg
      font-weight: 900
  .separator
    margin-top: 2px
  .add-message
    padding: 15px 19px
    vertical-align: top

// Profile Settings

.profilepane
  @media (max-width: 991px)
    padding-top: 30px
  .title
    color: $faded
    text-transform: uppercase
    font-size: 19px
    vertical-align: top
    display: inline-block
.button.squarish
  border: 1px solid $fg
  background-color: transparent
  padding: 10px 40px
  margin: 40px auto
  display: block
  box-shadow: 0px 0px 0px 0px rgba(69,76,82,0.0)
  transition: box-shadow 0.3s ease-in-out

  &:hover
    box-shadow: 0px 20px 30px 0px rgba(69,76,82,0.1)

// Profile Sources

.row.source
  .time
    @media (max-width: 767px)
      text-align: left
      margin-top: 10px
  padding-bottom: 30px
  @media (max-width: 991px)
    padding-top: 30px
    padding-bottom: 0px
  @media (max-width: 767px)
    padding-top: 20px
    padding-bottom: 20px
  .firstrow
    white-space: nowrap
  .power, .icon
    background-position: center center
    background-repeat: no-repeat
    height: 28px
    width: 30px
    display: inline-block
  .icon
    margin-right: 7px
    @media (min-width: 1200px)
      margin-left: 12px
  .power
    opacity: 0.35
    cursor: pointer
    background-image: url("/images/icon-power.svg")
    &:hover
      opacity: 0.5
    @media (max-width: 991px)
      margin-left: 9px
  .title
    color: $fg
    font-size: 19px
    vertical-align: top
    display: inline-block
    text-transform: capitalize
    @media (max-width: 991px)
      margin-top: 0px
      margin-bottom: 10px
    span
      color: $faded
      text-transform: none
  .inputblock
    margin-top: -8px
    &.compact
      display: inline-block
      &:not(:first-child)
        margin-left: 10px
      input
        padding-left: 5px
        padding-right: 5px
        text-align: center
  .label
    color: $fg
    font-size: 14px
    font-weight: 500
    display: inline-block
    padding-right: 0px
    padding-left: 3px
  &[data-name="vk"]
    .icon
      background-image: url("/images/icon-vk.svg")
  &[data-name="twitter"]
    .icon
      background-image: url("/images/icon-twitter.svg")
  &[data-name="hash"]
    .icon
      background-image: url("/images/icon-hash.svg")
  &.active
    .power
      opacity: 1.0

// Profile Messages

.row.message
  &::before
    display: none !important
  overflow: hidden
  margin-bottom: 30px
  background-color: rgba(240, 240, 240, 0.0)
  transition: background-color 1s ease-in-out, outline 1s ease-in-out
  outline: 10px solid rgba(240, 240, 240, 0.0)
  &.green
    transition: background-color 0.2s ease-in-out, outline 0.2s ease-in-out
    background-color: rgba(240, 240, 240, 1.0)
    outline: 10px solid rgba(240, 240, 240, 1.0)

  .id
    color: $fg
    font-size: 19px
    vertical-align: top
    display: inline-block
  .icon
    background-position: center center
    background-repeat: no-repeat
    height: 28px
    width: 30px
    cursor: pointer
    display: block
    margin-top: 10px
    &.private
      background-image: url("/images/icon-private.svg")
    &.public
      background-image: url("/images/icon-public.svg")
  textarea
    background-color: transparent
    border: 1px solid $faded
    color: $fg
    padding: 5px 10px
    width: 100%
    resize: none
    font-size: 15px
  .row.email
    .inputblock
      margin-top: -4px
      display: inline-block
      width: 80%
      vertical-align: top
  .inputblock
    &.compact
      margin-top: -4px
      display: inline-block
      &:not(:first-child)
        margin-left: 10px
      input
        padding-left: 5px
        padding-right: 5px
        text-align: center
  .label
    color: $faded
    font-size: 16px
    font-weight: 500
    display: inline-block
    padding-right: 0px
    padding-left: 3px
  .delete
    background-image: url("/images/close.svg")
    display: inline-block
    height: 40px
    width: 40px
    background-repeat: no-repeat
    background-position: right center
    cursor: pointer
  .subscribers
    font-size: 10px
.inputblock.compact
  display: inline-block
  input
    padding-right: 5px
    padding-left: 5px
    text-align: center

// Overlay
.overlay2
  z-index: 3000
  display: flex
  background-color: white
  top: 0
  left: 0
  width: 100%
  height: 100%
  position: fixed
  align-items: center
  .text
    text-align: center
    width: 100%
    font-size: 24px

.overlay
  z-index: 2000
  display: table
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  background-color: rgba(255,255,255,0.95)
  //background: radial-gradient(white, rgba(255,255,255,0.9));
  .overlay-inner
    display: table-cell
    vertical-align: middle
    position: relative
    .closelayer
      position: absolute
      left: 0
      top: 0
      width: 100%
      height: 100%
      z-index: 1
    & > .container
      z-index: 10
      position: relative
  .closebutton
    background-image: url("/images/close.svg")
    height: 40px
    background-repeat: no-repeat
    background-position: right center
    cursor: pointer
  .form
    background:#fff
    .emblem
      display: block
      margin: 0 auto
      padding-bottom: 24px
    .title
      font-size: 18px
      padding: 10px 0
    textarea
      background-color: transparent
      border: 1px solid $faded
      color: $fg
      padding: 5px 10px
      width: 100%
      resize: none
      font-size: 15px
    .label
      color: $fg
      font-size: 14px
      font-weight: 500
      display: inline-block
      padding-right: 0px
      padding-left: 3px
    .icon
      background-position: center center
      background-repeat: no-repeat
      height: 28px
      width: 30px
      cursor: pointer
      margin-top: 27px
      vertical-align: top
      margin-left: 10px
      display: inline-block
      &.private
        background-image: url("/images/icon-private.svg")
      &.public
        background-image: url("/images/icon-public.svg")
.overlay .form .button,
.button.arrowed
  display: block
  margin: 0 auto
  text-align: center
  background-image: url("/images/button.svg")
  background-size: 100% 100%
  height: 37px
  width: 141px
  border: 0
  background-color: transparent
  margin-top: 48px
  padding-right: 12px
  &.arrowed
    margin-top: 4px
    @media (max-width: 991px)
      margin-top: 30px
.inputblock
  position: relative
  border-bottom: 1px solid $faded
  margin-top: 20px
  &.compact
    width: 54px
  &.searchbar
    margin-top: 0px
  &::before, &::after
    content: ' '
    //display: block
    position: absolute
    bottom: 0
    width: 1px
    height: 7px
    background-color: $faded
  &::after
    margin-left: -1px
    right: 0
  input
    width: 100%
    box-sizing: border-box
    background-color: transparent
    border: none
    color: $fg
    padding: 10px
    background-repeat: no-repeat
    background-position: right 10px center
    padding-right: 38px
    &:focus
      outline: 0
    &.username
      background-image: url("/images/icon-username.svg")
    &.email
      background-image: url("/images/icon-email.svg")
    &.url
      background-image: url("/images/icon-url.svg")
    &.password,&.passwordrepeat
      background-image: url("/images/icon-password.svg")
