doctype html
head
  meta(charset="utf-8")
  title I am RIP
  link(rel="stylesheet", href="/css/vendor/bootstrap.min.css")
  link(rel="stylesheet", href="/css/style.css")
  link(rel="stylesheet", href="/css/bootstrap-addons.css")
  link(rel="stylesheet", href="/css/fonts.css")
  script(src="/js/vendor/react.js")
  script(src="/js/vendor/react-dom.js")
  script(src="/js/vendor/browser.js")
  script(src="/js/vendor/jquery.min.js")
  script(src="/js/vendor/marked.min.js")
  meta(name="viewport", content="width=device-width, initial-scale=1")
body
  block backdrop
  .container.maincontent
    block content
  nav.navbar.navbar-fixed-top
    .container
      if is_profile
        a.smalllogo(href="/"): img(src="/images/logo.svg")
      else
        .navbar-nav.pull-right-xs
          if is_index
            a.back(href="/")
            .separator.margin
          a.help(href="/help")
      .navbar-right
        if logged_in
          .baractions#addmessageprofile
            .add-message
            .separator
            if is_profile
              .lightbutton.logout Logout
            else
              a.lightbutton(href="/profile") Profile
        else
          .baractions#loginregister
  .overlay.hidden
    .overlay-inner
      .closelayer
      .container
        .closebutton
        .row
          .col-md-4.col-md-offset-4
            #registration.hidden
        .row
          .col-md-4.col-md-offset-4
            #login.hidden
        .row
          .col-md-4.col-md-offset-4
            #addmessage.hidden
              .form
                img.emblem(src="/images/emblem.svg")
                .title New Message
                textarea(rows="3")
                .inputblock.compact: input(type="text", placeholder="60").hours
                .label Hrs
                .inputblock.compact: input(type="text", placeholder="14").mins
                .label Min
                .icon.private
                button.button Create
        block overlays
  .overlay2#message(style="display: none;")
    .text Message
  script(src="/js/ui.js")
  script(type="text/babel", src="/js/register.js")


