doctype html
head
  title Registration - I am RIP
  link(rel="stylesheet", href="css/vendor/bootstrap.min.css")
  link(rel="stylesheet", href="css/style.css")
  link(rel="stylesheet", href="css/fonts.css")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/react/15.0.1/react.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/react/15.0.1/react-dom.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.6.16/browser.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.5/marked.min.js")
  script(src="/js/ui.js")
  meta(charset="utf-8")
body
  .overlay
    .overlay-inner
      .closelayer
      .container
        .closebutton
        block overlays


