doctype html
head
  title Registration - I am RIP
  link(rel="stylesheet", href="/css/vendor/bootstrap.min.css")
  link(rel="stylesheet", href="/css/style.css")
  link(rel="stylesheet", href="/css/fonts.css")
  meta(charset="utf-8")
body
  .overlay
    .closelayer
    .overlay-inner
      .container
        .closebutton
        block overlays

