doctype html
head
  meta(charset="utf-8")
  title I am RIP
  link(rel="stylesheet", href="css/vendor/bootstrap.min.css")
  link(rel="stylesheet", href="css/style.css")
  link(rel="stylesheet", href="css/bootstrap-addons.css")
  link(rel="stylesheet", href="css/fonts.css")
  //script(src="https://cdnjs.cloudflare.com/ajax/libs/react/15.0.1/react.js")
  script(src="js/vendor/react.js")
  //script(src="https://cdnjs.cloudflare.com/ajax/libs/react/15.0.1/react-dom.js")
  script(src="js/vendor/react-dom.js")
  //script(src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.6.16/browser.js")
  script(src="js/vendor/browser.js")
  //script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js")
  script(src="js/vendor/jquery.min.js")
  //script(src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.5/marked.min.js")
  script(src="js/vendor/marked.min.js")
  //script(src="js/prod/vendor-bundle.js")
  meta(name="viewport", content="width=device-width, initial-scale=1")
body
  block backdrop
  .container.maincontent
    block content
  nav.navbar.navbar-fixed-top
    .container
      .navbar-nav.pull-right-xs
        a.help(href="/help")
      .navbar-right
        #loginregister.loginregister
  .overlay.hidden
    .overlay-inner
      .closelayer
      .container
        .closebutton
        .row
          .col-md-4.col-md-offset-4
            #registration.hidden
        .row
          .col-md-4.col-md-offset-4
            #login.hidden
              .form
                img.emblem(src="images/emblem.svg")
                .inputblock: input(type="text").username
                .inputblock: input(type="password").password
                button.button Login
        block overlays
  script(type="text/babel", src="js/register.js")


