extends ./includes/base.jade
block backdrop
  .backdrop.clouds.second
  .backdrop.clouds.first
block content
  .display-table
    .table-cell
      .row
        .col-lg-offset-1.col-md-offset-1.col-lg-10.col-md-10.message-view
          if message.is_processed:
            h1 #{message.text}
          else:
            h1 Message hidden.
          h3 - #{user.firstname}
block overlays
