extends ./profile.jade
block profile_content
  .display-table(style="position: fixed; top: 0; left: 0; padding-bottom: 0px; z-index: -1;")
    .table-cell
      p(style="text-align: center;") Under redevelopment
script(type="text/babel", src="/js/sourses.js")
