extends ./profile.jade
block profile_content
  if messages
    - var qwe = []
  else
    - var messages = []
  for message in messages
    .row.message(data-id=message.id, data-uuid=message.uuid)
      .col-lg-1
        .row.firstrow
          a.id(href="/message/"+message.uuid) ##{message.id}
          if message.is_private
            .icon.private
          else
            .icon.public
      .col-lg-4
        textarea(rows="3") #{message.text}
      .col-lg-3
        .row.email
          .inputblock: input(type="text", placeholder="Subscriber E-mail").email
          .add-subscriber
        .row.subscribers
      .col-lg-3.text-right.time
        .inputblock.compact: input(type="text", placeholder="60").hours
        .label Hrs
        .inputblock.compact: input(type="text", placeholder="14").mins
        .label Min
      .col-lg-1.text-right
        .delete
  button.button.squarish.applymessages Apply
