extends ./profile.jade
block profile_content
  if sources
    - var qwe = []
  else
    - var sources = []
  for source in sources
    .row.source(data-name=source.name)
      .col-lg-1.col-md-1.col-sm-2.col-xs-3
        .row.firstrow
          .power.active
          .icon
      .col-lg-4.col-md-2.col-sm-10.col-xs-9
        .title #{source.title} 
          span (https://#{source.link})
      .col-lg-4.col-md-5.col-sm-8.col-xs-12
        .inputblock: input(type="text", placeholder="URL").url
      .col-lg-3.col-md-4.col-sm-4.col-xs-12.text-right.time
        .inputblock.compact: input(type="text", placeholder="60").days
        .label Days
        .inputblock.compact: input(type="text", placeholder="14").hours
        .label Hours
  button.button.squarish Apply
