extends ./profile.jade
block profile_content
  -
    var sources = [
      { name: "vk", title: "ВКонтакте", link: "vk.com" },
      { name: "twitter", title: "Twitter", link: "twitter.com" },
      { name: "hash", title: "Raw hash", link: "anyurl" }
    ]
  for source in sources
    .row.source(data-name=source.name)
      .col-lg-1.col-md-1.col-sm-2
        .row.firstrow
          .power.active
          .icon
      .col-lg-4.col-md-2.col-sm-10
        .title #{source.title} 
          span (https://#{source.link})
      .col-lg-4.col-md-5.col-sm-8
        .inputblock: input(type="text", placeholder="URL").url
      .col-lg-3.col-md-4.col-sm-4.text-right
        .inputblock.compact: input(type="text", placeholder="60").days
        .label Days
        .inputblock.compact: input(type="text", placeholder="14").hours
        .label Hours
  button.button.squarish Apply
