extends ./profile.jade
block profile_content
  if user
    - var qwe = []
  else
    - var user = []
  .row
    .col-md-6.profilepane
      .title Profile info
      .inputblock: input(type="text", placeholder="First name", value=user.firstname).firstname
      .inputblock: input(type="text", placeholder="Last name", value=user.lastname).lastname
      .inputblock: input(type="password", placeholder="Password (leave blank to keep old one)").password
      .inputblock: input(type="password", placeholder="Repeat password").passwordrepeat
      button.button.squarish.savesettings Save
    .col-md-6.profilepane
      .title Statistics
